@using Recipes.Web.Services
@inject IIngredientsService _ingredientsService

@if(formState == FormState.None)
{
    <Form Model="@ingredient" @ref="@_form" Layout="@FormLayout.Vertical">
        <Validator>
            <FluentValidationValidator />
        </Validator>
        <ChildContent>
            <FormItem Label="Image">
                <Input @bind-Value="context.Image" />
            </FormItem>
            @foreach(var g in context.Properties)
            {
                <Divider Orientation="left" Style="font-weight:bold">@g.LangId</Divider>
                <FormItem Label="Name">
                    <Input @bind-Value="@g.Name" />
                </FormItem>
                <FormItem Label="Description">
                    <TextArea @bind-Value="@g.Description" />
                </FormItem>
                <FormItem Label="Type">
                    <AutoComplete @bind-Value="@g.Type" Options="@IngredientTypes(g.LangId)" />
                </FormItem>
            }
        </ChildContent>
    </Form>
}
else
{
    <Result Status="@formState.ToString().ToLower()" Title="@formState.ToString()" SubTitle="@response">
        <Extra>
            @if(formState == FormState.Error)
            {
                <Button Type="primary" OnClick="() => formState = FormState.None">Try Again</Button>
            }
        </Extra>
    </Result>
}

@code {
    [CascadingParameter]
    protected Lang? Lang { get; set; }
    [CascadingParameter]
    protected Guid? Id { get; set; }

    [Parameter]
    public ModalAction State { get; set; }
    [Parameter]
    public IngredientCreate SelectedIngredient { get; set; }

    private HashSet<IngredientTypes> ingredientTypes { get; set; }
    private HashSet<string> IngredientTypes(Lang lang) => ingredientTypes?.Single(x => x.LangId == lang)?.Types ?? Enumerable.Empty<string>().ToHashSet();

    private IngredientCreate ingredient => State == ModalAction.Update ? SelectedIngredient : i;

    private IngredientCreate i = new IngredientCreate()
    {
        Properties = new IndexHashSet<IngredientProperties>()
        {
            new IngredientProperties() { LangId = Recipes.Shared.Enums.Lang.English },
            new IngredientProperties() { LangId = Recipes.Shared.Enums.Lang.Spanish }
        }
    };

    private Form<IngredientCreate> _form;
    private FormState formState = FormState.None;
    private string response = string.Empty;

    protected override async Task OnInitializedAsync() => ingredientTypes = await _ingredientsService.GetTypes();

    protected override async Task OnAfterRenderAsync(bool firstRender) => ingredientTypes = await _ingredientsService.GetTypes();

    public async Task<bool> Submit()
    {
        if (!_form.Validate())
            return false;

        if (State == ModalAction.Create)
            response = await _ingredientsService.Add(ingredient);
        else if (State == ModalAction.Update)
            response = await _ingredientsService.Update((Guid)Id, ingredient);

        formState = Guid.TryParse(response, out Guid id) ? FormState.Success : FormState.Error;

        return formState == FormState.Success;
    }
}
